<div class="timer">
    <div class="decor">
        <img src="{{ path_to_images}}/Rectangle 50.png" alt="">
        <div class="decor-border"></div>
    </div>
    <div class="timer__title"></div>
    <div class="timer__body">
        <div class="timer__text"></div>
        <div id="velesCountDown" class="timer__countdown"></div>
        <div class="timer__contact contact-timer">
            <div class="contact-timer__text">
                Свяжитесь с нами прямо сейчас и получите консультацию по вашему проекту абсолютно бесплатно.
            </div>
            <a class="contact-timer__btn wlcallform" href="#">
                Оставить заявку
            </a>
        </div>
    </div>
</div>
